
/*
* {
    border: yellow solid 1px;;
}
/*
*/
html {
    box-sizing: border-box;
}
*/
body {
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding: 10px;
    
}
.header-left{
    font-size: 24px;
    color: white;
    flex: 1;
    text-align: center;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}

.container1{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 0px;
    max-height: 200px;
}
/* 
Having plenty of problems centering this two
containers.
Tryinng to use flex:1; in both childs to fix it but it is not totally centered.
*/
.container1_1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 30%;
}
.container1_1-header{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.container1_1-text{
    font-size: 18px;
    color: #E5E7EB;
}
.top-image{
    max-width: 38%;
}
button{
    background-color: #3882F6;
    max-width: 90px;
    align-self: center;
    color: #f9faf8;
    border-radius: 7px;
    border: #f9faf8 solid 1px;
}
.top-image img{
    height: 200px;
    width: auto;
}

.boxes{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 13px;
}

.info{
    max-width: 120px;
}

.info img {
    height: 120px;
    width: 120px;
    border:#3882F6 solid 2px;
    border-radius: 15px
}
/*HERE THERE ARE TWO DIFFERENT WAYS TO CENTER THE CONTENT
FIRST ONE WITH PADDING THAT CAN GIVE PROBLEMS WHEN MINIMIZING
THE WINDOWS AND THE SECOND WITH FLEX THAT SEEMS TO WORK BETTER*/
/*
.container2 {    
    text-align:center;
    padding: 20px 10px 60px 10px;
    height: 250px;
}
*/
/*
.container2{    
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*/

.container2{
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.container2-title {
    padding: 1rem;
    font-weight: bolder;
    font-size: 20px;
}
.text{
    padding-top: 3px;
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 50px 350px;
    height: 200px;
}
.author{
    font-weight: bold;
    margin-left: auto;
    min-width: 350px;
    text-align: right;
}
.quote{
    font-style: italic;
    font-size: 25px;
    min-width: 350px;
    
}

.container4{
    /*Este es el metodo de centrar con flex. Mejor que centrar con padding 
    ya que con padding al minimizar la pestaña surgen problemas*/
    color: #f9faf8;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}
.module{
    background-color: #3882F6;
    padding: 30px 100px;
    display: flex;
    gap: 10px;
    justify-content: center;
    border-radius: 5px;
    min-width: 350px;
}

.container4__title{
    font-weight: bold;
}
.container4__subtitle{
    font-size: 12px;
}

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 10px;
}