
/*
* {
    border: yellow solid 1px;;
}
*/
body {
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding: 8px;
    
}
.header-left{
    font-size: 24px;
    color: white;
    flex: 1;
    text-align: center;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}

.container1{
    display: flex;
    background-color: #1F2937;
    align-items: center;
}

.container1_1{
    display: flex;
    flex-direction: column;
    flex: 1;
    
 
}
.container1_1-header{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.container1_1-text{
    font-size: 18px;
    color: #E5E7EB;
}
.top-image{
    flex:1;
}
button{
    background-color: #3882F6;
    max-width: 90px;
    align-self: center;
    color: #f9faf8;
}
.top-image img{
    height: 130px;
    width: auto;
}

.boxes{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 13px;
}

.info{
    max-width: 120px;
}

.info img {
    height: 120px;
    width: 120px;
    border:#3882F6 solid 2px;
}

.container2 {    
    text-align:center;
}

.container2-title {
    padding: 1rem;
    font-weight: bolder;
    font-size: 20px;
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
